<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Honda_Net_Typer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Honda_Net_Typer.Properties.Settings.Honda_Net_TyperConnectionString"
            connectionString="Data Source=10.10.10.248;Initial Catalog=Honda_Net_Typer;Persist Security Info=True;User ID=sa;Password=BPO@DN#2013"
            providerName="System.Data.SqlClient" />
        <add name="Honda_Net_Typer.Properties.Settings.DatabaseDataEntryBPOConnectionString"
            connectionString="Data Source=10.10.10.248;Initial Catalog=DatabaseDataEntryBPO;Persist Security Info=True;User ID=sa;Password=BPO@DN#2013"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <Honda_Net_Typer.Properties.Settings>
            <setting name="ApplicationSkinName" serializeAs="String">
                <value />
            </setting>
            <setting name="username" serializeAs="String">
                <value />
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="ZoomImage" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="LastSelectedFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="Zoom_Ngang" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Zoom_Doc" serializeAs="String">
                <value>100</value>
            </setting>
        </Honda_Net_Typer.Properties.Settings>
    </userSettings>
</configuration>